.chatIndividual__mensaje {
    display: flex;
    align-items: center;
    padding: 20px;
}

.chatIndividual__mensaje__texto {
    margin-left: 10px;
    background-color: lightgrey;
    padding: 15px;
    border-radius: 20px;
}

.chatIndividual__timestamp {
    text-align: center;
    padding: 20px;
    color: grey;
}

.chatIndividual__mensaje__propio {
    background-color: skyblue;
    margin-left: auto;
    padding: 15px;
    border-radius: 20px;
    color: white;
}

.chatIndividual__input {
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgray;
}

.chatIndividual__input__input{
    padding: 10px;
    flex: 1;
    border: none;
}

.chatIndividual__input__send {
    border: none;
    background-color: #fff;
    margin-right: 20px;
    color: #fe3d71;
    font-weight: bold;
}